

/* DEFINICIO DE COLORES */
$gris_claro: #eeeeee;
$gris_oscuro: #111111;
$principal: #48D1CC;


body{
	background: $gris_claro;
}

/* PAGINA INDEX */

/* SECCION CABECERA */

.cabecera{
	background: url("../images/sunset.jpg") no-repeat center top;
	background-size: cover;
	height: 100vh;
	display: flex;
	flex-direction: column;
	background-attachment: fixed !important;
}

.barra-superior{
	background: $gris_oscuro;
	color: #fff;
	padding: .5rem 0;
}

.barra-superior .container{
	display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.boton-menu{
	border: 0;
    font-size: 2rem;
    margin: 0;
    padding: 0 .5rem;
    background: transparent;
    color: #fff;
}

.boton-menu:focus{
	outline: 0;
}

#menu-principal{
	flex: 1 1 100%;
}

#menu-principal ul{
	padding: 0;
	list-style: none;
	margin: 1rem 0 0 0;
}

#menu-principal ul a{
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	outline: 0;
	padding: .8rem 0;
	border-top: 1px solid #8c8888;
}

#menu-principal ul li.active a,
#menu-principal ul li a:hover{
	color: $principal;
}



/* SECCION FOOTER */

footer{
	background: $gris_oscuro;
	color: #fff;
	text-align: center;

}

footer .redes-sociales{
	list-style: none;
	display: flex;
	justify-content: center;
	margin: 0;
	
}

footer .redes-sociales li a{
	/*padding: 0 1rem ;*/
	font-size: 1.8rem;
	margin: 0 .6rem;
	color: #fff;
	opacity: 1;
}

footer .redes-sociales li a:hover{
	opacity: .7;
}

/* PAGINA PROYECTOS */

/* SECCION LISTA PROYECTOS*/

.lista-proyectos{
	display: flex;
}

.proyecto{
	/*width: 250px;*/
	text-align: center;
	margin-bottom: 1rem;
    padding: 1rem;
	flex: 1 1 auto;
	
}

.proyecto .card{
	box-shadow: 10px 10px 5px #888888;
	justify-content:center;
	
}

.proyecto .card-img-top{
	text-align: center;
	width: 90%;
	margin: 5%;
	margin-top: 10px;
	
}

.proyecto .card-title{
	padding: .5rem;
}

.proyecto a{
	margin-top: auto;
	margin-bottom: 15px;
}

/* MEDIA QUERIES */

@media (min-width: 768px){
	
	#menu-principal{
		font-size: 1.2rem;
		height: auto !important;
		display: block;
		flex: 0 1 auto;
		margin-left: auto;
		order: 1;
	}

	#menu-principal ul{
		display: flex;
		margin: 0 0 0 0;
	}

	#menu-principal ul li a{
		text-transform: capitalize;
		margin: 0 .5rem;
		border-top: 0px;
		border-bottom: 4px solid transparent;

	}

	#menu-principal ul li a:hover,
	#menu-principal ul li.active a{
		border-bottom: 4px solid;
		color: $principal;
	}
}

@media (min-width: 992px){
	
}